<!DOCTYPE html>
<html>
<head>
    <title>#{title}</title>
    <meta charset="utf-8" />
     link(rel='stylesheet', href='/views/blog.css')
</head>
<body>

<header>
    <ul>
        <li><a href="/blog">Главная</a></li>
        <li><a href="/blog/articles">Статьи</a></li>
        <li><a href="/blog/contacts">Контакты</a></li>
    </ul>
</header>

</body>
</html>